

<div> 
  <table class="table">
     <tr>
          <th>SrNo</th>
          <th>Items</th>
          <th>Qty</th>
          <th></th>
          <th></th>
     </tr>
     <tr *ngFor="let product of productLists;index as i">
          <td>{{i+1}}</td>
          <td>{{product.name}}</td>
          <td>{{product.qty}}</td>
          <td><button class="btn btn-success" (click)="operations(product,'add')">Add</button></td>
          <td><button class="btn btn-danger" (click)="operations(product,'del')">Delete</button></td>
     </tr>
     <tr>
          <td colspan="2">Total Quantity</td>
          <td>
           {{totalQty}}
          </td> 
          <td></td>
          <td></td>
     </tr>
  </table>
</div>



